* {
  vertical-align: baseline;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1vw;
}

h2 {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.products-container {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0.5vh;
}
